@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Променена парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Паролата беше променена успешно. Моля влезте в профила си от <a asp-page="./Login">следния линк</a>.
</p>
